.bottom-modal {
  position: fixed; /* 스크롤 시에도 위치 고정 */
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 60%; /* 모달 높이 조절 */
  max-height: 400px; /* 최대 높이 설정 */
  border-radius: 10px 10px 0 0; /* 상단 모서리 둥글게 */
  overflow: auto; /* 내용 스크롤 가능 */
  transition: transform 0.3s ease-in-out;
}

.modal-dialog {
  margin: 0; /* 중앙 정렬 방지 */
  height: 90%; /* 전체 높이 사용 */
}

.modal-content {
  height: 90%; /* 모달 내용이 전체 높이를 차지하도록 설정 */
}
.board-like {
  cursor: pointer;
}
