/*---- 기능 ----*/
.box-radius {
  border-radius: 10px;
}
.ftl {
  float: left;
}
/*---- 기능 ----*/
.box-wrap {
  border: 1px solid #ccc;
  padding: 30px;
  width: 800px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box-wrap > input {
  border-radius: 0px;
}
.box-img {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-img > img {
  width: 250px;
}
.image {
  width: 300px;
}
.image > img {
  width: 150px;
  float: left;
}
.input-item {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
  flex-direction: column;
}
.input-item > .input-title {
  margin-right: 10px;
  width: 600px;
}
.input > input {
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #ddd;
}
.Q > button {
  margin-right: 50px;
}
.Q > button:nth-child(3) {
  background-color: red;
}
.Q > p {
  font-size: 12px;
}
.box-notice {
  margin-top: 20px;
  width: 750px;
}
.btn {
  margin-top: 25px;
  width: 100px;
  border-radius: 10px;
  border: none;
  padding: 5px;
}
.primary {
  background-color: var(--main5);
  color: var(--main2);
}

.search-hotel {
  border: 1px solid #ccc;
  width: 300px;
  height: 300px;
}
.search-hotel > .input {
  text-align: center;
  padding: 10px;
}
.search-hotel > .input > input {
  width: 200px;
}
.search-hotel .search {
  width: 50px;
}
.insert-lodgment-item > .input-item {
  margin-top: 10px;
}
.insert-lodgment-item > .input-item > .input-title {
  font-weight: bold;
}
.insert-lodgment-item > .lodgment-type {
  margin-top: 20px;
}
.insert-lodgment-item > .lodgment-type > .input-title {
  font-weight: bold;
}
.insert-lodgment-item > .input-item > .input > input {
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #ccc;
  width: 200px;
}
#lodgmentName {
  font-size: 20px;
  width: 500px;
}

.search-item-wrap {
  margin: 10px;
  width: 280px;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}
.search-item-wrap > .search-item {
  width: 250px;
  margin: 10px 5px;
  border: 1px solid #ccc;
}
.search-item-wrap > .search-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.search-item > .item-title {
  padding: 3px;
  font-weight: bold;
}
.search-item > .item-addr {
  padding: 3px;
  font-size: 12px;
}
.lodgment-type > .input > label {
  margin-left: 30px;
}
.addr-block {
  display: flex;
  flex-direction: column;
}
.addr-block > .addr-search-api {
  display: block;
  width: 700px;
}
.addr-block > .addr-api-input {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 20px;
}
.addr-block > .addr-api-input > label {
  margin-top: 50px;
}
.addr-block > .addr-api-input > input {
  font-size: 16px;
  width: 650px;
  margin-top: 15px;
  border: none;
  border-bottom: 2px solid #ccc;
}
.insertLodgmentBtn {
  margin-top: 30px;
}

.editor {
  display: flex;
  justify-content: center;
  width: 750px;
  height: 500px;
}
