.room_box-wrap {
  border: 1px solid #ccc;
  padding: 30px;
  width: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.room_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hotel_info {
  display: flex;
  border-bottom: 1px solid #333;
}
.hotel_info > .lod_title h3 {
  white-space: nowrap; /* 줄 바꿈 방지 */
  overflow: hidden; /* 넘치는 부분 숨김 */
  text-overflow: ellipsis; /* 넘치는 부분 생략 표시 (...) */
}
.hotel_info > .image > img {
  margin: 20px;
  margin-top: 0;
  width: 250px;
}
.room_box > h5 {
  padding: 10px;
  color: #ccc;
}
.photo {
  display: flex;
  flex-direction: column;
}
.addBtn {
  font-size: 15px;
  line-height: 30px;
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
}
.addBtn:hover {
  font-weight: bold;
  cursor: pointer;
}
.p_arr {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inroom-input-wrap > .input-fr-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.inroom-input-wrap
  > .input-fr-wrap
  > .inroom-input-wrap
  > .input-fr-wrap
  > .input-item {
  width: 150px;
}
.inroom-input-wrap > .input-fr-wrap > .input-sc-wrap {
  display: flex;
  flex-direction: column;
}
.inroom-input-wrap > .input-fr-wrap > .input-sc-wrap > .input-item {
  width: 300px;
}
.inroom-input-wrap > .input-item {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
}
.inroom-input-wrap > .input-item > .input-title {
  margin-right: 10px;
}
.room_price > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inroom-input-wrap > .input-item > .input > input {
  border: none;
  width: 200px;
  border-bottom: 2px solid #ddd;
}
.room_info_add > .input-wrap > .input-item {
  width: 300px;
}

.room_info_add > .input-wrap {
  margin-top: 20px;
  width: 450px;
}
/*------- 지울 거 ------*/
.checkbox-label {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.custom-checkbox {
  margin-left: 8px;
}

.tag > .checkbox-label > input[type="checkbox"]:checked + .custom-checkbox {
  font-weight: bold;
  color: #007bff; /* 체크된 항목의 색상을 원하는 색상으로 변경 */
}

/**/
.photoArr {
  position: relative;
  display: inline-block; /* 이미지 주변에 여백을 허용합니다. */
}

.delete-icon {
  position: absolute;
  top: 5px; /* 이미지 상단에서 약간 떨어진 위치 */
  right: 5px; /* 이미지 오른쪽에서 약간 떨어진 위치 */
  color: red;
  cursor: pointer;
  display: none; /* 기본적으로 숨김 */
}

.photoArr:hover .delete-icon {
  display: block; /* 이미지 위에 마우스를 올리면 보이도록 설정 */
}
