/*---- 기능 ----*/
.box-radius {
  border-radius: 10px;
}
.ftl {
  float: left;
}
/*---- 기능 ----*/

.seller-lodgment-list {
  width: 1200px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
}
.seller-lg-list-item {
  width: 250px;
  height: 300px;
  border: 1px solid #333;
}
.seller-lg-list-item > .seller-item-img {
  width: 230px;
  height: 150px;
  margin: 10px;
}
.seller-lg-list-item > .seller-item-img > img {
  width: 230px;
  height: 150px;
  object-fit: cover;
}
.seller-lg-list-item > .item-tx > .lodgment-addr {
  margin: 10px;
  font-size: 12px;
}
.seller-lg-list-item > .item-tx > .lodgment-star {
  margin: 10px;
  text-align: right;
  font-size: 12px;
}
.seller-lg-list-item > .item-tx > .lodgment-title {
  margin: 10px;
  font-weight: bold;
  font-size: 15px;
}
.seller-lg-list-item:hover {
  cursor: pointer;
  opacity: 0.8;
}
.sellerListLgBtn {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background-color: var(--seller1);
  font-weight: bold;
  color: var(--seller3) !important;
}
.sellerListLgBtn:hover {
  background-color: var(--seller2);
}
