/*---- 기능 ----*/
.box-radius {
  border-radius: 10px;
}
.ftl {
  float: left;
}
/*---- 기능 ----*/

.seller-lodgment-list {
  width: 1000px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.seller-lodgment-list > .item-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.seller-lodgment-list > .item-wrap > .item {
  border: 1px solid #ccc;
  width: 300px;
  margin: 10px;
}
.seller-lodgment-list > .item-wrap > .item:hover {
  cursor: pointer;
  opacity: 0.5;
}

.seller-lodgment-list > .item-wrap > .item > .item-img > img {
  padding: 10px;
  width: 280px;
  height: 220px;
  object-fit: cover;
}
.seller-lodgment-list > .item-wrap > .item > .item-tx {
  padding: 10px;
}
.seller-lodgment-list > .item-wrap > .item > .item-tx > .lodgment-addr {
  font-size: 13px;
}
.seller-lodgment-list > .item-wrap > .item > .item-tx > .lodgment-star {
  display: flex;
  justify-content: flex-end;
}
.seller-lodgment-list > .item-wrap > .item > .item-tx > .lodgment-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
