.seller-room-wrap {
  border: 1px solid #ccc;
  padding: 30px;
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.seller-room-wrap > .hotel-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.seller-room-wrap > .hotel-info > .image {
  width: 250px;
  height: 250px;
}

.seller-room-wrap > .hotel-info > .image > img {
  width: 200px;
  margin: 25px;
}

.seller-room-wrap > .hotel-info > .room-item-wrap {
  width: 60%;
}
.seller-room-wrap > .hotel-info > .room-item-wrap > .room-item {
  width: 100%;
  padding: 20px 0;
  display: flex;
}

.seller-room-wrap > .hotel-info > .room-item-wrap > .room-item > h5 {
  color: #333;
  width: 50%;
  font-weight: bold;
}

.seller-room-wrap > .hotel-info > .room-item-wrap > .room-item > .service-tags {
  display: flex;
  flex-wrap: wrap; /* 여러 줄로 감싸기 */
  gap: 10px; /* 태그 간의 간격 */
}

.seller-room-wrap
  > .hotel-info
  > .room-item-wrap
  > .room-item
  > .service-tags
  > .service-tag {
  background-color: #f0f0f0; /* 배경 색상 */
  border-radius: 5px; /* 둥근 모서리 */
  padding: 5px 10px; /* 패딩 */
  font-size: 14px; /* 글자 크기 */
}

.seller-room-wrap > .seller-room-sc-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.seller-room-wrap > .seller-room-sc-wrap > h3 {
  text-align: center;
  padding: 30px;
}
.seller-room-wrap > .item-notice {
  margin-top: 50px;
}

.seller-room-wrap > .item-notice > h3 {
  text-align: center;
  padding: 20px;
}

.seller-room-wrap > .item-notice > .notice-ed {
  border: 1px solid #ccc;
}
.seller-room-wrap > .seller-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.seller-room-wrap > .seller-btn-div > .seller-update-btn {
  text-align: center;
  width: 100px;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  margin: 20px;
}
.seller-room-wrap > .seller-btn-div > .seller-update-btn:hover {
  cursor: pointer;
  background-color: skyblue;
  color: #333;
}

.seller-room-wrap > .seller-btn-div > .seller-del-btn {
  text-align: center;
  width: 100px;
  background-color: #ccc;
  color: #333;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  margin: 20px;
}
.seller-room-wrap > .seller-btn-div > .seller-del-btn:hover {
  cursor: pointer;
  background-color: #333;
  color: #ccc;
}

.seller-comment-list-r > .pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seller-comment-list-r > .pagination > li {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
}
.seller-comment-list-r > .pagination.circle-style > li {
  border-radius: 50%;
}
.seller-comment-list-r > .pagination > li > span.page-item {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
.seller-comment-list-r > .pagination > li > span.page-item.material-icons {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.seller-comment-list-r > .pagination .page-item.active-page {
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
}

.seller-review-image {
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  height: auto; /* 이미지 비율 유지 */
  object-fit: cover; /* 필요시 이미지 비율을 유지하며 자를 경우 */
}

.custom-carousel {
  width: 100%; /* Carousel 전체 크기 제한 */
  margin: 0 auto; /* 중앙 정렬 */
}
.sellerBtnZone {
  width: 300px;
}

.sellerBtnZone > .sellerUpdateLodgment {
  margin-right: 20px;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background-color: var(--seller1);
  font-weight: bold;
  color: var(--seller3) !important;
}
.sellerBtnZone > .sellerUpdateLodgment:hover {
  background-color: var(--seller2);
}
.sellerBtnZone > .sellerDelLodgment {
  border: none;
  background-color: transparent;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background-color: var(--seller4);
  font-weight: bold;
  color: var(--seller2) !important;
}
.sellerBtnZone > .sellerDelLodgment:hover {
  background-color: var(--seller2);
}
.item-tr-wrap .seller-review-image {
  height: 300px;
}
.noRoomListAlret {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.noRoomListAlret > p {
  color: #979797;
  font-weight: bold;
}

.sellerInsertRoomBtn {
  margin-top: 30px;
  display: block;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background-color: var(--seller1);
  font-weight: bold;
  color: var(--seller3) !important;
}
.sellerInsertRoomBtn:hover {
  background-color: var(--seller2);
}

.noRoomList {
  width: 300px;
  margin: 0 auto;
}
