.stm-box-wrap {
  padding: 30px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.stm-box-wrap > h3 {
  text-align: center;
  padding-bottom: 20px;
}

.stm-box-wrap > .no-stm {
  text-align: center;
  color: #747474;
  font-weight: bold;
  font-size: 20px;
}
