<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.board.model.dao.BoardDao">
	<select id="totalCount" resultType="int">
		SELECT COUNT(*) FROM board WHERE board_type=1
	</select>
	<select id="selectBoardList" resultType="board">
	select * from
		(select rownum as rnum, sb.* from
			(SELECT 
		        b.board_no,
				b.board_title,
				b.board_content,
				b.board_area,
				b.reg_date,
				b.board_thumb,
				(select MEMBER_no from member m where m.member_no = b.member_no) as member_no,
			    (select member_IMAGE from member m where m.member_no = b.member_no) as member_IMAGE,
			    (select MEMBER_NICKNAME from member m where m.member_no = b.member_no) as member_NICKNAME,
                (SELECT COUNT(*) FROM board_like bl WHERE bl.board_no = b.board_no) AS like_count,
                (SELECT COUNT(*) FROM board_keep bk WHERE bk.board_no = b.board_no) AS keep_count,
                (SELECT COUNT(*) FROM board_comment bc WHERE bc.board_no = b.board_no) AS comment_count
			FROM 
    			board b
    		WHERE 
    			 board_type = 1
    	    order by
          		board_no desc
               ) 
    			sb)
    where rnum BETWEEN #{start} and #{end}
	</select>
		
		<insert id="insertBoard">
			 insert into board values(board_seq.nextval,#{boardTitle},#{boardContent},#{boardArea},sysdate,1,#{boardThumb},#{memberNo},0)
			<selectKey resultType="int" keyProperty="boardNo" order="AFTER">
				select max(board_no) from board
			</selectKey>
		</insert>
		<insert id="insertBoardFile">
		insert into board_file values(board_file_seq.nextval,#{filename},#{filepath},#{boardNo})
		</insert>
		<select id="selectOneBoard" resultMap="getBoard">
		    select
		        board_no,
		        board_title,
		        board_content,
		        board_area,
		        reg_date,
		        board_type,
		        board_thumb,
		        read_count,
		        (select member_IMAGE from member m where m.member_no = b.member_no) as member_IMAGE,
		        (select MEMBER_NICKNAME from member m where m.member_no = b.member_no) as member_NICKNAME,
		        (SELECT COUNT(*) FROM board_like bl WHERE bl.board_no = b.board_no) AS like_count,
		        (SELECT COUNT(*) FROM board_keep bk WHERE bk.board_no = b.board_no) AS keep_count,
		        (SELECT COUNT(*) FROM board_comment bc WHERE bc.board_no = b.board_no) AS comment_count
		    from board b 
		    where board_no = #{boardNo}
		</select>
		
		<select id="selectOneBoardFileList" resultType="boardFile">
		    select * from board_file where board_no=#{boardNo}
		</select>
		
		<resultMap type="board" id="getBoard">
		    <result column="board_no" property="boardNo"/>
		    <result column="board_title" property="boardTitle"/>
		    <result column="board_content" property="boardContent"/>
		    <result column="board_area" property="boardArea"/>
		    <result column="reg_date" property="regDate"/> <!-- 대문자 수정 -->
		    <result column="board_type" property="boardType"/>
		    <result column="board_thumb" property="boardThumb"/>
		    <result column="read_count" property="readCount"/>
		    <result column="like_count" property="likeCount"/>
		    <result column="keep_count" property="keepCount"/>
		    <result column="comment_count" property="commentCount"/>
		    <collection property="fileList"
		        select="selectOneBoardFileList"
		        column="board_no"
		        javaType="java.util.List"
		        ofType="boardFile"
		    />
		</resultMap>
		
		
		<delete id="deleteBoard">
			delete from board where board_no=#{boardNo}
		</delete>
		
		
		<update id="updateBoard">
			update board set board_title= #{boardTitle},board_content=#{boardContent},board_thumb=#{boardThumb},board_area=#{boardArea} where board_no=#{boardNo}
		</update>
		<select id="selectBoardFile" resultType="boardFile">
			select * from board_file
			where file_no in 
			<foreach collection="array" item="fileNo" open="(" close=")" separator=",">
				#{fileNo}
			</foreach>
		</select>
		<delete id="deleteBoardFile">
			delete from board_file where file_no in
			<foreach collection="array" item="fileNo" open="(" close=")" separator=",">
				#{fileNo}
			</foreach>
		</delete>
		
		
		<insert id="insertLikeBoard">
			insert into board_like values(#{memberNo},#{boardNo})
		</insert>
		<select id="selectLikeBoard" resultType="int">
			select count(*) from board_like where board_no = #{boardNo} and member_no=#{memberNo}  
		</select>

		<delete id="deleteUnlikeBoard">
			delete from board_like where board_no=#{boardNo} and member_No=#{memberNo}
		</delete>
		<select id="selectUnlikeBoard" resultType="int">
			select count(*) from board_like where board_no = #{boardNo}
		</select>
		
		
		
		 	<!-- 댓글 목록 조회 -->
    	<select id="selectCommentList" resultType="boardComment">
        	SELECT * FROM board_comment WHERE board_no = #{boardNo}
   		 </select>
		 
		 <!-- 댓글 추가 -->
   		<insert id="insertComment">
   			 INSERT INTO board_comment VALUES (board_comment_seq.nextval, #{commentWriter}, sysdate, 0, #{commentContent}, #{boardNo})
		</insert>
		
		
		 <!-- 댓글 수정 -->
		 <update id="updateComment">
		        UPDATE board_comment
		        SET comment_Content = #{commentContent}
		        WHERE comment_No = #{commentNo}
		 </update>
		
		 <!-- 댓글 삭제 -->
		 <delete id="deleteComment">
		        DELETE FROM board_comment WHERE comment_No = #{commentNo}
		 </delete>
 
	
		
		
		
		<!-- 동행 게시판  -->
		<!-- 동행 게시판 select  -->
			<select id="accompanyTotalCount" resultType="int">
				SELECT COUNT(*) FROM board WHERE board_type= #{type}
			</select>	
		<select id="selectAccompanyList" resultType="board">
			select * from
				(select rownum as rnum, sb.* from
					(SELECT 
					 	b.board_no,
					    b.board_title,
					    b.board_content,
					    b.board_area,
					    b.reg_date,
					    b.board_thumb,
					    b.read_count,
					    b.board_type,
					    (select member_IMAGE from member m where m.member_no = b.member_no) as member_IMAGE,
					    (select MEMBER_NICKNAME from member m where m.member_no = b.member_no) as member_NICKNAME
					FROM 
		    			board b
		    		WHERE 
		    			 board_type = #{type}
		    	    order by
		          		board_no desc
		               ) 
		    			sb)
			where rnum BETWEEN #{start} and #{end}
		</select>
		<!-- 동행 게시판 insert  -->
		
		<insert id="insertBoardAccompany">
			 insert into board values(board_seq.nextval,#{boardTitle},#{boardContent},#{boardArea},sysdate,2,#{boardThumb},#{memberNo},0)
			<selectKey resultType="int" keyProperty="boardNo" order="AFTER">
				select max(board_no) from board
			</selectKey>
		</insert>
		
		
		<insert id="insertAccompanyType">
			insert into accompany_tag values(#{accompanyTagNo},#{boardNo})
			<selectKey resultType="int" keyProperty="boardNo" order="AFTER">
				select max(board_no) from board
			</selectKey>
		</insert>
			
		<insert id="insertAccompany">
			insert into board_accompany values
			(board_accompany_seq.nextval, #{accompanyDate}, #{accompanyArea}, #{accompanyContent}, #{boardNo}, #{startDay}, #{endDay})
			<selectKey resultType="int" keyProperty="boardNo" order="AFTER">
				select max(board_no) from board
			</selectKey>
		</insert>
		
		<select id="getReviewList">
			select * from lodgment_review where review_no=#{lodgmentNo}
		</select>
	
	
	
	
  
</mapper>

