<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.booking.model.dao.BookingDao">
	<insert id="insertBooking">
		insert into booking values(booking_seq.nextval, #{memberId}, #{sellerNo}, #{roomNo}, #{startDate}, #{endDate},
		sysdate, #{gusetCount}, #{guestName}, #{guestPhone}, 
		<choose>
			<when test="!guestRequest.equals('')">
				#{guestRequest},
			</when>
			<when test="guestRequest.equals('')">
				null,
			</when>
		</choose>
		1, #{portoneimpuid})
		<selectKey resultType="int" keyProperty="bookNo"
			order="AFTER">
			select max(book_no) from booking
		</selectKey>
	</insert>

	
	<select id="totalCount" resultType="int">
		select count(*) from booking
	</select>
	
	<select id="selectBookingList" resultType="booking">
	select * from
		(select rownum as rnum, b.* from
    		(select
        		payment_date,
        		room_no,
        		seller_no,
        		status,
        		room_name,
        		business_name,
        	to_char(payment_date,'yyyy-mm-dd') as board_date
    	from booking join room using(room_no) join seller using(seller_no) order by book_no desc)b)
	where rnum between #{start} and #{end}
	</select>
	
	<select id="getBookingInfo">
		select lpad(b.book_no,6,0) book_no, b.member_id, b.start_date, b.end_date,
		      b.guest_count, b.guest_name, b.guest_phone, b.guest_request,
		(
		select lodgment_name from lodgment_storage ls 
		join room r using (lodgment_no) where room_no=b.book_no
		) lodgment_name,
		(
		select lodgment_addr from lodgment_storage ls 
		join room r using (lodgment_no) where room_no=b.book_no
		) lodgment_addr,
		(
		select room_name from room r where room_no=b.room_no
		) room_name 
		from booking b
		where book_no=#{bookNo}
	</select>
  
</mapper>
