<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.booking.model.dao.BookingDao">
	<insert id="insertBooking">
		insert into booking values(booking_seq.nextval, #{memberId}, #{sellerNo}, #{roomNo}, #{startDate}, #{endDate},
		sysdate, #{guestCount}, #{guestName}, #{guestPhone}, 
		<choose>
			<when test="!guestRequest.equals('')">
				#{guestRequest},
			</when>
			<when test="guestRequest.equals('')">
				null,
			</when>
		</choose>
		1, #{portoneimpuid})
		<selectKey resultType="int" keyProperty="bookNo"
			order="AFTER">
			select max(book_no) from booking
		</selectKey>
	</insert>

	
	<select id="myBookingTotalCount" resultType="int">
		select count(*) from booking where member_id=(select member_id from member where member_no=#{memberNo})
	</select>
	
	<select id="selectBookingList" resultType="booking">
	select * from
		(select rownum as rnum, b.* from
    		(select	
    			book_no,
        		room_no,
        		lodgment_name,
        		status,
        		room_name,
        	to_char(payment_date,'yyyy-mm-dd') as payment_date
    	from booking join room using(room_no) join lodgment_storage using(lodgment_no) where member_id=(select member_id from member where member_no=#{memberNo}) order by book_no desc)b)
	where rnum between #{start} and #{end}
	</select>
	
	<select id="getBookingInfo">
		select lpad(b.book_no,6,0) book_no, b.member_id, b.start_date, b.end_date, b.status,
		      b.guest_count , b.guest_name, b.guest_phone, b.guest_request, to_char(b.payment_date,'YYYY-MM-DD HH24:mi:SS') payment_date,
			(select lodgment_name from lodgment_storage ls 
			join room r using (lodgment_no) where room_no=b.book_no) lodgment_name,
			(select lodgment_addr from lodgment_storage ls 
			join room r using (lodgment_no) where room_no=b.book_no) lodgment_addr,
			(select room_name from room r where room_no=b.room_no) room_name,
			(select room_price from room r where room_no=b.room_no) room_price,
			(select lodgment_img_path from lodgment_storage ls 
			join room r using (lodgment_no) where room_no=b.room_no) lodgment_img
		from 
			booking b
		where 
			book_no=#{bookNo}
	</select>
	
	<select id="getPortoneimpuid" resultType="String">
		select portoneimpuid from booking where book_no=#{bookNo} and status = 1
	</select>
  	<update id="updateBooking">
  		update booking set status = 3 where book_no=#{bookNo}
  	</update>
  	
  	<insert id="insertBookCancel">
  		insert into booking_cancel values(#{bookNo}, #{cancelReason}, 
  			<choose>
  				<when test="cancelReason == 4">
  				#{cancelReasonText},
  				</when>
  				<when test="cancelReason != 4">
  				null ,
  				</when>
  			</choose>
  			sysdate
  		)
  	</insert>
</mapper>
