<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.booking.model.dao.BookingDao">
	<insert id="insertBooking">
		insert into booking values(booking_seq.nextval, #{memberId}, #{sellerNo}, #{roomNo}, #{startDate}, #{endDate},
		sysdate, #{gusetCount}, #{guestName}, #{guestPhone}, 
		<choose>
			<when test="!guestRequest.equals('')">
				#{guestRequest},
			</when>
			<when test="guestRequest.equals('')">
				null,
			</when>
		</choose>
		1, #{portoneimpuid})
		<selectKey resultType="int" keyProperty="bookNo"
			order="AFTER">
			select max(book_no) from booking
		</selectKey>
	</insert>

	
	<select id="myBookingTotalCount" resultType="int">
		select count(*) from booking where member_id=(select member_id from member where member_no=#{memberNo})
	</select>
	
	<select id="selectBookingList" resultType="booking">
	select * from
		(select rownum as rnum, b.* from
    		(select	
        		room_no,
        		lodgment_name,
        		status,
        		room_name,
        	to_char(payment_date,'yyyy-mm-dd') as payment_date
    	from booking join room using(room_no) join lodgment_storage using(lodgment_no) where member_id=(select member_id from member where member_no=#{memberNo}) order by book_no desc)b)
	where rnum between #{start} and #{end}
	</select>
  
</mapper>
