<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.faq.model.dao.FaqDao">
	<select id="selectFaqCategory" resultType="string">
		select faq_category from faq_type group by faq_category
	</select>
	<select id="selectFaqTypeList" resultType="faqType">
		select * from faq_type
	</select>
	<select id="selectFaqList" resultType="faq">
		select faq_no,faq_title from faq where faq_type=#{faqType}
	</select>
	<select id="selectFaq" resultType="faq">
		select faq_content from faq where faq_no=#{faqNo}
	</select>
	<insert id="insertFaq">
		insert into faq values(faq_seq.nextval,#{faqType},#{faqTitle},#{faqContent})
	</insert>
	<delete id="deleteFaq">
		delete from faq where faq_no=#{faqNo}
	</delete>
	<update id="updateFaq">
		update faq set faq_type=#{faqType},faq_title=#{faqTitle},faq_content=#{faqContent} where faq_no=#{faqNo}
	</update>
	<select id="selectAdminFaq" resultType="faq">
		select * from faq where faq_no=#{faqNo}
	</select>
</mapper>
