<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.lodgment.model.dao.LodgmentDao">
	<select id="serviceList" resultType="lodgmentDetail">
	 	select * from service_tag
	</select>
	<select id="search" resultType="string">
		select 
		substr(lodgment_addr,1,instr(lodgment_addr,' ',1,2)) 
		from lodgment_storage 
		where lodgment_addr like '%'||#{value}||'%'
		group by substr(lodgment_addr,1,instr(lodgment_addr,' ',1,2))
	</select>
	
	<select id="searchLodgment" resultType="string">
		select 
		lodgment_name	
		from lodgment_storage 
		where lodgment_name like '%'||#{value}||'%'
	</select>
	
	<select id="getLodgmentList" resultType="searchLodgment"> 
		SELECT 
			lodgment_no,lodgment_name,lodgment_addr,lodgment_star_grade,lodgment_img_path,lodgment_check_in,
			lodgment_check_out,room_price,room_max_capacity, lodgment_type_no
		FROM (
		    SELECT rownum AS rnum, n.*
		    FROM (
		        SELECT 
		                ls.lodgment_no,
				        ls.lodgment_name,
				        ls.lodgment_addr,
				        ls.lodgment_star_grade,
				        ls.lodgment_img_path,
				        ls.lodgment_check_in,
				        ls.lodgment_check_out,	
				        ls.lodgment_type_no,
			            r.room_no,
			            r.room_name,
			            r.room_price,
			            r.room_max_capacity
		        FROM 
		            lodgment_storage ls
		        JOIN 
		            room r ON ls.lodgment_no = r.lodgment_no
		        LEFT JOIN 
		            booking b ON r.room_no = b.room_no AND (
		                (b.start_date <![CDATA[<]]> to_date(#{endDate},'YYYY-MM-DD') AND b.end_date > to_date(#{startDate},'YYYY-MM-DD')) 
		            )
		        WHERE 
		            r.room_price = (
		                SELECT MIN(room_price)
		                FROM room
		                WHERE lodgment_no = ls.lodgment_no
		            )
				AND (ls.lodgment_name LIKE '%' || #{lodgment} || '%' OR ls.lodgment_addr LIKE '%' || #{lodgment} || '%')
                AND (#{minPrice} IS NULL OR r.room_price >= #{minPrice})
                AND (#{maxPrice} IS NULL OR r.room_price <![CDATA[<]]>= #{maxPrice})
                <if test="selectedServiceTagsArry[0] != 100">
                AND r.room_no IN (
                     SELECT room_no
                     FROM room
                   	 join room_service_tag using (room_no)
                     WHERE service_tag_no IN 
                     <foreach item="tag" index="index" collection="selectedServiceTagsArry" open="(" separator="," close=")">
                         #{tag}
                     </foreach>
                     group by room_no
                    )
                </if>
                <if test="lodgmentType > 0">
                	and ls.lodgment_type_no =
                	<choose>
                		<when test="lodgmentType == 1"> 
                			1
                		</when>
                		<when test="lodgmentType == 2"> 
                			2
                		</when>
                		<when test="lodgmentType == 3"> 
                			3
                		</when>
                		<when test="lodgmentType == 4"> 
                			4
                		</when>
                		<when test="lodgmentType == 5"> 
                			5
                		</when>
                	</choose>
                </if>
                <if test="starValue > 0">
                    AND ls.lodgment_star_grade = #{starValue}
                </if>
		        GROUP BY 
          		  	ls.lodgment_no, ls.lodgment_name, ls.lodgment_addr, ls.lodgment_star_grade, ls.lodgment_img_path, ls.lodgment_check_in, ls.lodgment_check_out,
          		  	r.room_no, r.room_name, r.room_price, r.room_max_capacity,ls.lodgment_type_no
 				HAVING 
          			  (r.room_max_capacity ) >= #{guest} 
          		<if test="order > 0">
			        ORDER BY 
			            <choose>
			                <when test="order == 1">
			                    r.room_price ASC  
			                </when>
			                <when test="order == 2">
			                    r.room_price DESC  
			                </when>
			                <when test="order == 3">
			                    ls.lodgment_star_grade 
			                </when>
			                <otherwise>
			                    r.room_price ASC  
			                </otherwise>
			            </choose>
			    </if>	  
          			  )n
            )
		WHERE rnum BETWEEN #{start} AND #{end}
	</select>
	<select id="getLodgmentInfo" resultType="lodgmentDetail">
		select * from lodgment_storage where lodgment_no=${lodgmentNo}
	</select>
	
	
	<select id="getRoomNo" resultType="int">
		select 
			room_no 
		from
			room
		left join lodgment_storage using (lodgment_no)
		where lodgment_no = #{lodgmentNo}
		order by room_no
	</select>
	
	
	<select id="getRoomList" resultMap="roomSearchFile">
		SELECT 
		    r.*, 
		    CASE 
		        WHEN 
		            r.room_qua > COALESCE((
		                SELECT COUNT(*)
		                FROM 
		                    lodgment_storage ls
		                LEFT JOIN 
		                    room rm ON ls.lodgment_no = rm.lodgment_no
		                LEFT JOIN 
		                    booking b ON rm.room_no = b.room_no
		                WHERE  
		                    (b.start_date <![CDATA[<]]>= to_date(#{endDate},'YYYY-MM-DD') 
		                     AND b.end_date > to_date(#{startDate},'YYYY-MM-DD'))
		                    AND ls.lodgment_no = #{lodgmentNo}
		                    AND rm.room_no = r.room_no
		            ), 0) THEN '1' 
		        ELSE '2'  
		    END AS ReservationStatus
		FROM 
		    room r
		WHERE 
		    r.room_no =#{roomNo}
	</select>
	<select id="selectRoomFile" resultType="roomFile">
		select * from room_file where room_no=#{roomNo}
	</select>
	<resultMap type="roomSearch" id="roomSearchFile">
			<result column="room_no" property="roomNo"/>
			<result column="lodgment_no" property="lodgmentNo"/>
			<result column="room_name" property="roomName"/>
			<result column="room_max_capacity" property="roomMaxCapacity"/>
			<result column="room_price" property="roomPrice"/>
			<result column="room_info" property="roomInfo"/>
			<result column="reservationstatus" property="reservationstatus"/>					
			<collection 
				property="fileList" 
				select="selectRoomFile" 
				column="room_no"
				javaType="java.util.List"
				ofType="roomFile"
				></collection> <!-- 효율적이지는 않음, 데이터를 불필요한것까지 검색후, 이만큼만 쓸게 -->
	</resultMap>
	<!-- 
	property: 매핑할 Java 객체의 속성 이름
	select: fileList에 대해 실행할 SQL 쿼리의 ID를 지정
	column: fileList에서 매핑할 데이터베이스 열 이름을 지정
	javaType: 매핑될 Java 타입을 지정
	ofType: fileList의 각 요소 타입을 지정 -->
</mapper>
