<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.seller.model.dao.SellerLodgmentDao">
	<!-- 등록한 호텔 조회 -->
	<select id="selectLodgmentList" resultType="lodgmentStorage">
		select * from LODGMENT_STORAGE where seller_no=#{sellerNo} and lodgment_delete=1
	</select>

	<!-- 기존 호텔 검색 - 이름이나 주소에 해당 단어 섞여 있으면 조회 (리스트) -->
	<select id="selectXlsxHotelInfo" resultType="hotelXlsx">
		select * from
		HOTEL_XLSX
		where X_LODGMENT_NAME like '%'||#{searchInfo}||'%'
		or
		X_LODGMENT_ADDR like '%'||#{searchInfo}||'%'
	</select>

	<!-- 해당 호텔 조회 -->
	<select id="selectOneLodgment" resultType="lodgmentStorage">
		select * from
		lodgment_storage
		where lodgment_no = #{lodgmentNo} and lodgment_delete=1
	</select>

	<!-- 호텔 등록 -->
	<!-- lodgmentNo가 0이면 기존 호텔에 없는 번호이므로 시퀀스 돌리기, 숙소 등록하면 일단 1로! -->
	<insert id="insertLodgment">
		insert into lodgment_storage VALUES (
		<if test="lodgmentNo == 0">
			lodgment_seq.nextval
		</if>
		<if test="lodgmentNo != 0">
			#{lodgmentNo}
		</if>
		,
		#{sellerNo},
		#{lodgmentTypeNo},
		#{lodgmentName},
		#{lodgmentAddr},
		#{lodgmentImgPath},
		#{lodgmentStarGrade},
		#{lodgmentNotice},
		#{lodgmentCheckIn},
		#{lodgmentCheckOut},
		0
		)
	</insert>
	
	<!-- 호텔 수정 -->
	<update id="updateLodgment">
		update lodgment_storage set
			lodgment_name=#{lodgmentName},
			lodgment_addr=#{lodgmentAddr},
			lodgment_img_path=#{lodgmentImgPath},
			lodgment_notice=#{lodgmentNotice},
			lodgment_check_in=#{lodgmentCheckIn},
			lodgment_check_out=#{lodgmentCheckOut}
		where lodgment_no=#{lodgmentNo}
	</update>

	<!-- 기존 호텔 삭제 -->
	<!-- 호텔 등록하면 기존 호텔 테이블에서 삭제해주어야함 (제약조건 걸려있어서 호텔 번호 중복 불가) -->
	<delete id="deleteLodgment">
		delete from HOTEL_XLSX where
		x_lodgment_no=#{lodgmentNo}
	</delete>

	<!-- 객실 정보 조회 (객실 정보 + 파일들) -->
	<select id="selectRoomInfo" resultMap="RoomResultMap">
		SELECT
			r.room_no AS room_no,
			r.lodgment_no AS lodgment_no,
			r.room_name AS room_name,
			r.room_qua AS room_qua,
			r.room_max_capacity AS room_max_capacity,
			r.room_price AS room_price,
			r.room_info AS room_info,
			rf.room_file_no AS room_file_no,
			rf.room_img AS room_img
		FROM
		room r
		LEFT JOIN
		room_file rf ON r.room_no = rf.room_no
		WHERE
		r.lodgment_no = #{lodgmentNo} and room_delete=1
	</select>

	<!-- 객실 정보와 파일 정보를 묶어주는 ResultMap -->
	<resultMap type="room" id="RoomResultMap">
		<id column="room_no" property="roomNo" />
		<result column="lodgment_no" property="lodgmentNo" />
		<result column="room_name" property="roomName" />
		<result column="room_qua" property="roomQua" />
		<result column="room_max_capacity" property="roomMaxCapacity" />
		<result column="room_price" property="roomPrice" />
		<result column="room_info" property="roomInfo" />
		<collection property="fileList" ofType="roomFile"
			javaType="java.util.List">
			<id property="roomFileNo" column="room_file_no" />
			<result property="roomImg" column="room_img" />
		</collection>
	</resultMap>
	
	<!-- 호텔 리뷰 정보 출력 -->
	<select id="selectLodgmentReview" resultMap="lodgmentReviewMap">
		select * from
			(select rownum as rnum, b.*  from
			    (select review_no,
					        member_no,
					        book_no,
					        rating,
					        lodgment_no,
					        review_content,
					        seller_comment,
					        review_file_no,
					        review_img_path,
			                member_id
					from LODGMENT_REVIEW lr
					left join LODGMENT_REVIEW_FILE lrf
					using(REVIEW_NO)
			        left join member
			        using(member_no)
					where LODGMENT_NO = #{lodgmentNo}
			order by REVIEW_NO desc)b)
		where rnum between #{start} and #{end}
	</select>
	<resultMap type="lodgmentReview" id="lodgmentReviewMap">
		<id column="review_no" property="reviewNo"/>
		<result column="member_no" property="memberNo"/>
		<result column="book_no" property="bookNo"/>
		<result column="lodgment_no" property="lodgmentNo"/>
		<result column="review_content" property="reviewContent"/>
		<result column="rating" property="rating"/>
		<result column="seller_comment" property="sellerComment"/>
		<result column="member_id" property="memberId"/>
		<collection property="fileList" ofType="lodgmentReviewFile" javaType="java.util.List">
			<id property="reviewFileNo" column="review_file_no"/>
			<result property="reviewImgPath" column="review_img_path"/>
		</collection>
	</resultMap>

	<!-- 모든 리뷰 수 (페이징 처리 위함)-->
	<select id="totalCount" resultType="int">
		select COUNT(*) from LODGMENT_REVIEW
	</select>
	
	<!-- 모든 문의 수 (페이징 처리 위함) -->
	<select id="totalCountQna" resultType="int">
		select count(*) from room_qna
	</select>
	
	<!-- 문의 조회 -->
 	<select id="selectQna" resultMap="selectQnaMap">
		        SELECT *
			FROM (
			    SELECT *
			    FROM (
			        SELECT ROWNUM AS rnum, b.*
			        FROM (
			            SELECT
			                rq.ROOM_QNA_NO,
			                rq.LODGMENT_NO,
			                rq.MEMBER_NO,
			                rq.SC_QNA_STATUS,
			                rq.QNA_CONTENT,
			                rq.QNA_DATE,
			                m.member_id
			            FROM room_qna rq
			            LEFT JOIN member m ON rq.member_no = m.member_no
                        where lodgment_no=#{lodgmentNo}
			            ORDER BY rq.room_qna_no DESC
			        ) b
			    )
			    WHERE rnum BETWEEN #{start} AND #{end}
			) rq
			LEFT JOIN qna_comment qc ON rq.ROOM_QNA_NO = qc.room_qna_no
			order by qc.QNA_COMMENT_NO desc
	</select>
	<resultMap type="roomQna" id="selectQnaMap">
		<id column="room_qna_no" property="roomQnaNo"/>
		<result column="lodgment_no" property="lodgmentNo"/>
		<result column="member_no" property="memberNo"/>
		<result column="sc_qna_status" property="scQnaStatus"/>
		<result column="qna_content" property="qnaContent"/>
		<result column="qna_date" property="qnaDate"/>
		<result column="member_id" property="memberId"/>
		<collection property="commentList" ofType="qnaComment" javaType="java.util.List">
			<id property="qnaCommentNo" column="qna_comment_no"/>
			<result property="comContent" column="com_content"/>
		</collection>
	</resultMap>
	
	<!-- 문의 댓글들 조회 -->
	<select id="selectQnaComment">
		SELECT *
		FROM QNA_COMMENT qc
		LEFT JOIN room_qna rq
		ON rq.room_qna_no = qc.room_qna_no
		WHERE rq.lodgment_NO = #{lodgmentNo}
	</select>
	
	<!-- 객실 상세 (객실 정보 + 파일 + 해시태그) -->
	<select id="selectRoomViewInfo" resultMap="RoomViewMap">
		SELECT
			r.room_no AS room_no,
			r.lodgment_no AS lodgment_no,
			r.room_name AS room_name,
			r.room_qua AS room_qua,
			r.room_max_capacity AS room_max_capacity,
			r.room_price AS room_price,
			r.room_info AS room_info,
			st.service_tag_no AS serviceTagNo,
			st.service_tag_type AS serviceTagType,
			rf.room_file_no AS room_file_no,
			rf.room_img AS room_img
		FROM
			room r
		LEFT JOIN
			room_file rf ON r.room_no = rf.room_no
		LEFT JOIN
			ROOM_SERVICE_TAG rst ON r.room_no = rst.room_no
		LEFT JOIN
			SERVICE_TAG st ON st.SERVICE_TAG_NO = rst.SERVICE_TAG_NO
		WHERE
		r.room_no = #{roomNo} and r.room_delete=1
	</select>
	<resultMap type="room" id="RoomViewMap">
		<id column="room_no" property="roomNo" />
		<result column="lodgment_no" property="lodgmentNo" />
		<result column="room_name" property="roomName" />
		<result column="room_qua" property="roomQua" />
		<result column="room_max_capacity" property="roomMaxCapacity" />
		<result column="room_price" property="roomPrice" />
		<result column="room_info" property="roomInfo" />

		<!-- 서비스 태그 리스트 -->
		<collection property="serviceTagList" ofType="serviceTag" javaType="java.util.List">
			<result property="serviceTagNo" column="serviceTagNo" />
			<result property="serviceTagType" column="serviceTagType" />
		</collection>

		<!-- 파일 리스트 -->
		<collection property="fileList" ofType="roomFile"
			javaType="java.util.List">
			<id property="roomFileNo" column="room_file_no" />
			<result property="roomImg" column="room_img" />
		</collection>
	</resultMap>


	<!-- 객실 등록 -->
	<!-- 마지막에 1은 삭제 여부 (0: 삭제, 1: 삭제X) -->
	<insert id="insertRoom">
		insert into room values(room_seq.nextval,
		#{lodgmentNo},#{roomName},#{roomQua},#{roomMaxCapacity},#{roomPrice},#{roomInfo},1)
		<selectKey resultType="int" keyProperty="roomNo"
			order="AFTER">
			select max(room_no) from room
		</selectKey>
	</insert>

	<!-- 객실 파일 등록 -->
	<insert id="insertRoomFile">
		insert into room_file
		values(room_file_seq.nextval,#{roomNo},#{roomImg})
	</insert>

	<!-- 객실 해시태그 등록 -->
	<insert id="insertServiceTag">
		insert into room_service_tag
		values(#{roomNo},#{serviceTagNo})
	</insert>

	<!-- 판매자 정산 정보 -->
	<!-- AND TO_DATE(#{endDate}, 'YY/MM/DD') + 1 - 1/86400 (<- 해당 일의 모든 데이터 
		추가 (25일 찾으면 24일까지 나와서 추가함)) -->
	<!-- 정산 여부 추가 되어서 1인 것만 select -->
	<select id="selectStmInfo" resultMap="stmInfoMap">
		select stm_num, seller_no, stm_price, to_char(stm_date, 'YYYY-MM-dd')
		as stm_date
		from stm_tbl
		where seller_no = #{sellerNo} and stm_state=1
		<if test="startDate!=null and endDate!=null">
			and stm_date BETWEEN TO_DATE(#{startDate},'YY/MM/DD')
			AND TO_DATE(#{endDate}, 'YY/MM/DD') + 1 - 1/86400
		</if>
	</select>
	<resultMap id="stmInfoMap" type="stmInfo">
		<result property="stmNum" column="stm_num" />
		<result property="sellerNo" column="seller_no" />
		<result property="stmPrice" column="stm_price" />
		<result property="stmDate" column="stm_date" />
	</resultMap>

	<!-- 판매자 문의 리스트 출력 -->
	<select id="selectInqList" resultMap="inqListMap">
		select
		i.inquiry_no,
		i.inquiry_title,
		i.INQUIRY_CONTENT,
		i.REG_DATE,
		ir.INQUIRY_REPLY_CONTENT
		from INQUIRY i
		left join INQUIRY_REPLY ir
		ON i.inquiry_no =
		ir.inquiry_no
		where seller_no=#{sellerNo}
	</select>
	<resultMap type="inquiry" id="inqListMap">
		<result property="inquiryNo" column="inquiry_no" />
		<result property="inquiryTitle" column="inquiry_title" />
		<result property="inquiryContent" column="inquiry_content" />
		<result property="regDate" column="reg_date" />
		<result property="inquiryReply.inquiryReplyContent" column="inquiry_reply_content" />
	</resultMap>


	<!-- 판매자 문의 상세 -->
	<select id="selectInqView" resultMap="InqViewMap">
		select
		iq.INQUIRY_TITLE,
		iq.inquiry_content,
		iq.reg_date,
		iqf.filepath,
		iqr.inquiry_reply_content,
		iqr.reg_date as reply_reg_date
		from INQUIRY iq
		left join inquiry_file iqf
		using(INQUIRY_NO)
		left join inquiry_reply iqr
		using(INQUIRY_NO)
		where inquiry_no=#{inqNo}
	</select>

	<resultMap type="inquiry" id="InqViewMap">
		<!-- 기본 정보 -->
		<result property="inquiryTitle" column="inquiry_title" />
		<result property="inquiryContent" column="inquiry_content" />
		<result property="regDate" column="reg_date" />
	
		<!-- 답변 정보 매핑 -->
		<result property="inquiryReply.inquiryReplyContent" column="inquiry_reply_content" />
		<result property="inquiryReply.regDate" column="reply_reg_date" />

		<!-- 파일 리스트 매핑 -->
		<collection property="inquiryFileList" ofType="inquiryFile" javaType="java.util.List">
			<result property="filepath" column="filepath" />
		</collection>
	</resultMap>

	<!-- 호텔 판매자 예약 정보 리스트 확인 -->
	<select id="selectReserve" resultMap="ReserveListMap">
		select
			b.book_no,
		    b.member_id,
		    b.start_date,
		    b.end_date,
		    b.payment_date,
		    b.status,
		    r.room_name,
		    ls.LODGMENT_NAME
		from booking b
		left join room r
		using(room_no)
		left join LODGMENT_STORAGE ls
		on ls.LODGMENT_NO = r.LODGMENT_NO
		where b.seller_no=#{sellerNo}
	</select>
	<resultMap type="bookingInfo" id="ReserveListMap">
		<result property="bookingNo" column="book_no"/>
		<result property="memberId" column="member_id"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
		<result property="paymentDate" column="payment_date"/>
		<result property="status" column="status"/>
		<result property="roomName" column="room_name"/>
    	<result property="lodgmentName" column="lodgment_name"/>
	</resultMap>
	
	<!-- 숙소 객실 예약 요청사항 조회 -->
	<select id="bookInfo" resultType="bookingInfo">
        select
        	b.guest_name,
            b.start_date,
            b.end_date,
            b.payment_date,
            b.guest_count,
            b.guest_phone,
            b.status,
            b.guest_request,
            ls.lodgment_name,
            r.room_name
        from booking b
        join room r
        using(room_no)
        left join lodgment_storage ls
        using(lodgment_no)
        where b.book_no=#{bookNo}
	</select>
	<!-- 
	<resultMap type="bookingInfo" id="bookingInfoMap">
		<result property="guestName" column="guest_name"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
		<result property="paymentDate" column="payment_date"/>
		<result property="guestCount" column="guest_count"/>
		<result property="guestPhone" column="guest_phone"/>
    	<result property="lodgmentName" column="lodgment_name"/>
		<result property="roomName" column="room_name"/>
	</resultMap>
	 -->
	 
	 <!-- 호텔 삭제 시 해당 호텔의 객실 모두 0으로 전환 -->
	 <update id="delUpLodgmentRoom">
	 	update room set room_delete=0 where LODGMENT_NO=#{lodgmentNo}
	 </update>
	 
	 <!-- 호텔 삭제(2로 전환) -->
	 <update id="delUpLodgment">
	 	update LODGMENT_STORAGE set lodgment_delete=2 where LODGMENT_NO=#{lodgmentNo}
	 </update>
	 
	 <!-- 객실만 삭제 0으로 전환  -->
	 <update id="delUpRoom">
	 	update room set room_delete=0 where room_no=#{roomNo}
	 </update>
	 
	 <!-- 판매자 호텔 리뷰 댓글 달기 -->
	 <update id="updatecomment">
	 	update LODGMENT_REVIEW set seller_comment=#{sellerComment} where review_no=#{reviewNo}
	 </update>
	 
	 <!-- 판매자 홍텔 리뷰 댓글 삭제(삭제이지만 null로 처리하면 되기 때문에 update) -->
	 <update id="delUpComment">
	 	update Lodgmet_review set seller_comment=null where review_no=#{reviewNo}
	 </update>
	 
	 <!-- 판매자 객실 수정 -->
	 <update id="updateRoom">
	 	update room
		set room_name=#{roomName},
		    room_qua=#{roomQua},
		    ROOM_MAX_CAPACITY=#{roomMaxCapacity},
		    room_price=#{roomPrice},
		    room_info=#{roomInfo}
		where room_no = #{roomNo}
	 </update>
	 
	 <!-- 삭제할 파일 조회 -->
	 <select id="selectRoomFile" resultType="roomFile">
	  	select * from room_file
	  	where room_file_no in 
	  	<foreach collection="array" item="roomFileNo" open="(" close=")" separator=",">
	  		#{roomFileNo}
	  	</foreach>
	  </select>
	  
	 <!-- 조회 후 파일 삭제 -->
	<delete id="deleteRoomFile">
		delete from room_file
		where room_file_no in 
		<foreach collection="array" item="roomFileNo" open="(" close=")" separator=",">
			#{roomFileNo}
		</foreach>
	</delete>
	
	<!-- 서비스 태그 모두 삭제 -->
	<delete id="delAllServiceTag">
		delete from ROOM_SERVICE_TAG where room_no=#{roomNo}
	</delete>
	
		<!-- 판매자 문의 답변 -->
	<insert id="insertSellerComment">
		insert into qna_comment values(QNA_COMMENT_SEQ.NEXTVAL, #{roomQnaNo}, #{comContent})
	</insert>
</mapper>