<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.lodgment.model.dao.LodgmentDao">
	<select id="serviceList" resultType="string">
	 	select service_tag_type from service_tag
	</select>
	<select id="search" resultType="string">
		select 
		substr(lodgment_addr,1,instr(lodgment_addr,' ',1,2)) 
		from lodgment_storage 
		where lodgment_addr like '%'||#{value}||'%'
		group by substr(lodgment_addr,1,instr(lodgment_addr,' ',1,2))
	</select>
	
	<select id="searchLodgment" resultType="string">
		select 
		lodgment_name	
		from lodgment_storage 
		where lodgment_name like '%'||#{value}||'%'
	</select>
	
	<select id="getLodgmentList" resultType="lodgmentDetail"> 
	SELECT *
	FROM (
	    SELECT
	        lodgment_no,
	        lodgment_name,
	        lodgment_addr,
	        lodgment_img_path,
	        lodgment_star_grade,
	        ROWNUM AS rn
	    FROM (
	        SELECT
	            lodgment_no,
	            lodgment_name,
	            lodgment_addr,
	            lodgment_img_path,
	            lodgment_star_grade
	        FROM
	            lodgment_STORAGE
	        WHERE
	            lodgment_addr LIKE '%' || #{lodgment} || '%'
	            AND lodgment_no IN (
	                SELECT room_no
	                FROM room
	                WHERE room_no IN (
	                    SELECT lodgment_no
	                    FROM booking
	                    WHERE ( #{endDate} >= start_date AND end_date >= #{startDate})
	                    AND guest_count >= #{guest}
	                )
	            )
	        ORDER BY lodgment_star_grade DESC
	    )
	    WHERE #{limit}  >= ROWNUM 
	)
	WHERE rn > #{offset}
	</select>

	
</mapper>
