.lodgment-detail-img {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.lodgment-detail-img img {
  width: 100%;
  border-radius: 10px;
}
.lodgment-storage-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--gray7);
  border-radius: 50%;
  right: 0; /* 오른쪽 끝으로 이동 */
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.lodgment-detail-info {
  padding-left: 80px;
  padding-right: 80px;
}
.lodgment-detail-info table {
  margin-top: 20px;
  width: 100%;
}
.lodgment-detail-info tr {
  height: 40px;
  font-size: 18px;
}

.member-rating {
  text-align: right;
}
.lodgment-detail-name {
  font-size: 24px;
  font-weight: 900;
}
.lodgment-detail-map-wrap {
  width: 100%;
  margin-top: 50px;
}
.lodgment-detail-map {
  width: 100%;
  margin: 0 auto;
  width: 90%;
}

.lodgment-loom-type {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  border: 3px solid var(--gray6);
  border-radius: 15px;
  margin-bottom: 50px;
}
.lodgment-loom-table {
  width: 100%;
}
.lodgment-loom-type-img {
  width: 100%;
}
.lodgment-loom-type-img img {
  min-width: 100%;
  width: 80%;
  border-radius: 15px;
}

.room-search-list-map {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.sroom-detail-btn2 {
  width: 100%;
  border-radius: 15px;
  background-color: var(--gray6);
  border: none;
  cursor: not-allowed;
}
.room-detail-btn {
  width: 100%;
  border-radius: 15px;
  background-color: var(--gray6);
  border: none;
  transition: background-color 0.3s;
}
.room-detail-btn:hover {
  background-color: var(--main1);
}
