.lodgement-search-wrap {
  width: 100%;
}
.lodgment-search-wrap {
  display: flex;
  justify-items: center;
  margin-top: 50px;
}
.price-text-wrap {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.etc-search-wrap {
  width: 20%;
}
.lodgment-info-text {
  font-size: 1.5rem; /* 텍스트 크기 조절 */
  margin-bottom: 10px; /* 아래 여백 */
}
.max-num {
  text-align: right;
  margin-right: 100%;
}
.choose-price-wrap {
  border-bottom: 3px solid var(--main1);
  height: 200px;
}
.lodgment-price-max {
  width: 100%;
  text-align: left;
}
.lodgment-star-range {
  height: 100px;
  border-bottom: 3px solid var(--main1);
  margin-top: 20px;
  margin: 10px;
}

.start-range-wrap {
  margin-top: 10px;
}
.lodgment-service-wrap {
  border-bottom: 3px solid var(--main1);
  margin: 10px;
}
.lodgment-price-range {
  width: 100%; /* 부모 요소의 너비를 100%로 설정 */
  display: flex; /* flexbox 사용 */
  justify-content: space-between; /* 왼쪽과 오른쪽으로 요소 배치 */
  align-items: center; /* 수직 정렬 */
}

.lodgment-price-range div {
  flex: 1; /* 각 div가 동일한 비율로 공간을 차지하도록 설정 */
}

.lodgment-price-max {
  text-align: right; /* 오른쪽 정렬 */
}

.lodgment-info-wrap {
  display: flex; /* flexbox 사용 */
  flex-direction: column; /* 버튼들을 수직으로 나열 */
  text-align: center;
  justify-items: center;
  flex-grow: 1;
}

.lodgment-type-select {
  display: flex; /* flexbox 사용 */
  justify-content: center; /* 버튼들을 중앙에 배치 */
}

.lodgment-type-select-btn:hover {
  background-color: var(--main5);
  transform: translateY(-2px);
  color: #fff;
  font-weight: 900;
}

.lodgment-type-select button:active {
  transform: translateY(0);
}
.lodgment-info-wrap {
  margin-top: 20px;
}
.lodgment-service-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.lodgment-service {
  margin: 3px;
  min-width: 80px; /* 버튼 최소 너비 설정 */
  padding: 10px; /* 버튼 내부 여백 */
  background-color: #fff; /* 버튼 배경색 */
  color: var(--gray2); /* 텍스트 색상 */
  border: 1px solid var(--gray2); /* 테두리 없음 */
  border-radius: 4px; /* 둥근 모서리 */
  cursor: pointer; /* 커서 모양 변경 */
  transition: background-color 0.3s; /* 배경색 변화 애니메이션 */
}
.lodgment-service:hover {
  background-color: var(--gray6); /* 호버 시 배경색 변화 */
}
.selected {
  background-color: #1976d2; /* 선택된 색상 */
  color: white; /* 선택된 텍스트 색상 */
}

.lodgment-type-select-btn {
  margin: 0 10px; /* 버튼 간의 여백 */
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  background-color: white;
  cursor: pointer;
  margin-right: 5px;
}

.selectedLodgmentType {
  margin: 0 10px; /* 버튼 간의 여백 */
  width: 200px;
  background-color: #1976d2;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  border: none;
}
