.lodgement-search-wrap {
  width: 100%;
}
.lodgment-search-wrap {
  display: flex;
  justify-items: center;
  margin-top: 30px;
  margin-left: 10px;
}
.price-text-wrap {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.etc-search-wrap {
  width: 20%;
}
.lodgment-info-text {
  font-size: 1.5rem; /* 텍스트 크기 조절 */
  margin-bottom: 10px; /* 아래 여백 */
  margin-left: 5px;
}
.max-num {
  text-align: right;
  margin-right: 100%;
}
.choose-price-wrap {
  border-bottom: 3px solid var(--gray2);
  height: 200px;
}
.lodgment-price-max {
  width: 100%;
  text-align: left;
}
.lodgment-star-range {
  height: 100px;
  border-bottom: 3px solid var(--gray2);
  margin-top: 20px;
  padding: 5px;
}
.lodgment-sellprice-info {
  margin-left: 7px;
}
.start-range-wrap {
  margin-top: 10px;
  margin-left: 4px;
}
.lodgment-service-wrap {
  border-bottom: 3px solid var(--gray2);
  margin-top: 15px;
}
.lodgment-price-range {
  width: 100%; /* 부모 요소의 너비를 100%로 설정 */
  display: flex; /* flexbox 사용 */
  justify-content: space-between; /* 왼쪽과 오른쪽으로 요소 배치 */
  align-items: center; /* 수직 정렬 */
}

.lodgment-price-range div {
  flex: 1; /* 각 div가 동일한 비율로 공간을 차지하도록 설정 */
}

.lodgment-price-max {
  text-align: right; /* 오른쪽 정렬 */
}

.lodgment-info-wrap {
  display: flex; /* flexbox 사용 */
  flex-direction: column; /* 버튼들을 수직으로 나열 */
  text-align: center;
  justify-items: center;
  flex-grow: 1;
}

.lodgment-type-select {
  display: flex; /* flexbox 사용 */
  justify-content: center; /* 버튼들을 중앙에 배치 */
}

.lodgment-type-select-btn:hover {
  background-color: var(--main5);
  transform: translateY(-2px);
  color: #fff;
  font-weight: 900;
}

.lodgment-type-select button:active {
  transform: translateY(0);
}
.lodgment-info-wrap {
  margin-top: 20px;
}
.lodgment-service-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.lodgment-service {
  margin: 3px;
  min-width: 80px; /* 버튼 최소 너비 설정 */
  padding: 10px; /* 버튼 내부 여백 */
  background-color: #fff; /* 버튼 배경색 */
  color: var(--gray2); /* 텍스트 색상 */
  border: 1px solid var(--gray2); /* 테두리 없음 */
  border-radius: 4px; /* 둥근 모서리 */
  cursor: pointer; /* 커서 모양 변경 */
  transition: background-color 0.3s; /* 배경색 변화 애니메이션 */
}
.lodgment-service:hover {
  background-color: var(--gray6); /* 호버 시 배경색 변화 */
}
.selected {
  background-color: #1976d2; /* 선택된 색상 */
  color: white; /* 선택된 텍스트 색상 */
}

.lodgment-type-select-btn {
  margin: 0 10px; /* 버튼 간의 여백 */
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  background-color: white;
  cursor: pointer;
  margin-right: 5px;
}

.selectedLodgmentType {
  margin: 0 10px; /* 버튼 간의 여백 */
  width: 200px;
  background-color: #1976d2;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  border: none;
}

.lodgment-card {
  border-bottom: 4px solid var(--gray6);
  width: 85%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer; /* 카드에 마우스 커서 추가 */
  margin-bottom: 20px; /* 카드 간격 추가 */
}
.lodgment-card-container {
  width: 100%;
  padding: 10px;
  margin-left: 40px;
}
.lodgment-card:hover {
  border: 3px solid var(--gray6);
  box-sizing: border-box;
  border-radius: 15px;
  transform: scale(1.01);
  width: 85%;
}
.lodgment-card {
  display: flex;
  border-bottom: 4px solid var(--gray6);
  margin-bottom: 50px;
  margin-left: 30px;
  width: 85%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.lodgment-card img {
  max-width: 300px; /* 최대 너비를 설정하여 너무 작아지지 않도록 조정 */
  height: auto; /* 자동으로 비율 유지 */
  object-fit: cover; /* 비율을 유지하며 요소에 맞게 자르기 */
  border-radius: 15px; /* 카드의 모서리에 둥근 효과 추가 */
  margin: 10px; /* 위아래, 좌우 여백을 동일하게 설정 */
}
.lodgment-details {
  text-align: left;
  margin-left: 40px;
  width: 70%;
}
.lodgment-price {
  font-size: 28px;
  text-align: right;
  margin-right: 20px;
}
.lodgment-price-day {
  text-align: right;
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-top: 30px;
}
.lodgment-checkin {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
.lodgment-address {
  margin-top: 20px;
}
.search-left-wrap > search-lodgment {
  margin-right: 10px;
}
.radio-lodgment-wrap {
  border-top: 3px solid var(--gray2);
  border-bottom: 3px solid var(--gray2);
  margin-bottom: 20px;
}
.radio-lodgment-wrap > .lodgment-info-text {
  margin-top: 20px;
}
.selet-lodgmentType-wrap {
  margin-top: 25px;
}
.lodgment-type-radio {
  margin: 10px;
  margin-bottom: 20px;
}
.lodgment-radio {
  margin-bottom: 20px;
  margin: 10px;
}
.lodgment-list-reset-btn {
  width: 100%;
  border: none;
}
